/*1. Background*/
body
{
    background-color: lime;
}

/*2. Button setting*/
.button {
    background-color: lime;
    border: none;
    color: white;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
/*3. Buttons*/
.button1 {
    background-color: lime;
    color: black;
    border: 2px #4CAF50;
    border-radius: 8px;
}

.button1:hover {
    background-color: black;
    color: white;
    border-radius: 8px;
}
.button2 {
    background-color: lime;
    color: black;
    border: 2px #4CAF50;
    border-radius: 8px;
}

.button2:hover {
    background-color: black;
    color: white;
    border-radius: 8px;
}
.button3 {
    background-color: lime;
    color: black;
    border: 2px #4CAF50;
    border-radius: 8px;
}

.button3:hover {
    background-color: black;
    color: white;
    border-radius: 8px;
}
.button4 {
    background-color: lime;
    color: black;
    border: 2px #4CAF50;
    border-radius: 8px;
}

.button4:hover {
    background-color: black;
    color: white;
    border-radius: 8px;
}
.button5 {
    background-color: lime;
    color: green;
    border: 2px #4CAF50;
    border-radius: 8px;
}

.button5:hover {
    background-color: lime;
    color: lime;
    border-radius: 8px;
    cursor: not-allowed;
}
/*4. Positioning buttons*/

#header
{
    float:right;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 100px;
}

.nav
{
  display: inline-block;
  float: left;
  padding: 20px;
}
/*5. Login Container*/
#div2 {
	border: 1px solid;
	float: right;
	padding: 2em;
    background: white;
}
/*6. Emailverifizierung*/
.emailverifizierungsbutton {
    background-color: lime;
    color: black;
    border: 2px #4CAF50;
    border-radius: 8px;
    border: 2px solid green;
    position: absolute;
    top: 350px;
    left: 600px;
}

.emailverifizierungsbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#emailverifizierungscode {
    position: absolute;
    top: 320px;
    left: 445px;
}
.emailverifizierungstext {
    position: absolute;
    left: 480px;
    top: 50px;
    font-size: 75px;
}
/*7. Administration*/
.administrationsbutton {
    background-color: lime;
    color: black;
    border: 2px #4CAF50;
    border-radius: 8px;
    border: 2px solid green;
    position: absolute;
    top: 350px;
    left: 600px;
}

.administrationsbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.administrationstext {
    position: absolute;
    left: 480px;
    top: 50px;
    font-size: 75px;
}
#administrationsusername {
    position: absolute;
    top: 280px;
    left: 445px;
}
#administrationspassword {
    position: absolute;
    top: 300px;
    left: 445px;
}
#administrationskey {
    position: absolute;
    top: 320px;
    left: 445px;
}


/*#. Login input*/